<div class="row justify-content-center m-3">
  <div class="col-lg-7 col-md-10 col-sm-12">
    <h1 class="my-5 text-center">
      <i class="bi bi-trash"></i>
      Borrar usuario
      <i class="bi bi-person-circle"></i>
    </h1>
    <br />
    <table class="table table-striped table-bordered my-5 text-center">
      <tbody>
        <tr class="text-center">
          <th scope="row" class="bg-danger text-white text-end pe-5">Id</th>
          <td class="text-start ps-5">{{ oUsuario!.id }}</td>
        </tr>
        <tr class="text-center">
          <th scope="row" class="bg-primary text-white text-end pe-5">
            Nombre
          </th>
          <td class="text-start ps-5">{{ oUsuario!.nombre }}</td>
        </tr>
        <tr class="text-center">
          <th scope="row" class="bg-primary text-white text-end pe-5">
            Primer Apellido
          </th>
          <td class="text-start ps-5">{{ oUsuario!.apellido1 }}</td>
        </tr>
        <tr class="text-center">
          <th scope="row" class="bg-primary text-white text-end pe-5">
            Segundo Apellido
          </th>
          <td class="text-start ps-5">{{ oUsuario!.apellido2 }}</td>
        </tr>
        <tr class="text-center">
          <th scope="row" class="bg-primary text-white text-end pe-5">
            Correo
          </th>
          <td class="text-start ps-5">{{ oUsuario!.email }}</td>
        </tr>
        <tr class="text-center">
          <th scope="row" class="bg-primary text-white text-end pe-5">
            Tipo de usuario
          </th>
          <td class="text-start ps-5">
            {{ oUsuario!.tipousuario.descripcion }} ({{
              oUsuario!.tipousuario.id
            }})
          </td>
        </tr>

        <tr class="text-center">
          <th scope="row" class="bg-primary text-white text-end pe-5">
            Asientos
          </th>
          <td class="text-start ps-5">{{ oUsuario!.asientos }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="d-flex justify-content-center mt-4">
    <p class="fs-3">¿Seguro que desea borrar el usuario?</p>
  </div>

  <div class="d-flex justify-content-center mt-4">
    <button
      class="btn btn-warning mt-4 mx-1"
      [routerLink]="['/admin', 'usuario', 'plist']"
    >
      <i class="bi bi-list"></i>
      Ir a listado de Usuarios
    </button>
    <button class="btn btn-danger mt-4 mx-1" (click)="delete()">
      <i class="bi bi-trash"></i>
      Borrar usuario
    </button>
  </div>
</div>

<div
  class="modal fade"
  [id]="'mimodal'"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Contante</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="hideModal()"
        ></button>
      </div>
      <div class="modal-body">
        <p>{{ strMessage }}</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="hideModal()"
        >
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
