<div class="row justify-content-center m-3">
  <div class="col-lg-7 col-md-10 col-sm-12">
    <h1 class="my-5 text-center">
      <i class="bi bi-card-list"></i>
      Ver Tipo de Asiento
      <i class="bi bi-clipboard2-pulse"></i>
    </h1>
    <br />
    <table class="table table-striped table-bordered my-5 text-center">
      <tbody>
        <tr class="text-center">
          <th scope="row" class="bg-danger text-white text-end pe-5">Id</th>
          <td class="text-start ps-5">{{ oTipoAsiento.id }}</td>
        </tr>
        <tr class="text-center">
          <th scope="row" class="bg-primary text-white text-end pe-5">
            Descripción
          </th>
          <td class="text-start ps-5">{{ oTipoAsiento.descripcion }}</td>
        </tr>
        <tr class="text-center">
          <th scope="row" class="bg-primary text-white text-end pe-5">
            Balances
          </th>
          <td class="text-start ps-5">{{ oTipoAsiento.grupotipoasientos }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="d-flex justify-content-center mt-4">
    <a class="btn btn-warning mt-4 mx-1" href="admin/tipoAsiento/plist">
      <i class="bi bi-list"></i>
      Ir a listado de Tipos de Asientos
    </a>
    <a
      class="btn btn-primary mt-4 mx-1"
      href="admin/tipoAsiento/edit/{{ oTipoAsiento.id }}"
    >
      <i class="bi bi-pencil"></i>
      Editar
    </a>
    <a
      class="btn btn-danger mt-4 mx-1"
      href="admin/tipoAsiento/delete/{{ oTipoAsiento.id }}"
    >
      <i class="bi bi-trash"></i>
      Borrar
    </a>
  </div>
</div>
