<div class="row justify-content-center m-3">
  <div class="col-lg-7 col-md-10 col-sm-12">
    <h1 class="my-5 text-center">
      <i class="bi bi-trash"></i>
      Borrar Tipo de Asiento
      <i class="bi bi-clipboard2-pulse"></i>
    </h1>
    <br />
    <table class="table table-striped table-bordered my-5 text-center">
      <tbody>
        <tr class="text-center">
          <th scope="row" class="bg-danger text-white text-end pe-5">Id</th>
          <td class="text-start ps-5">{{ oTipoAsiento!.id }}</td>
        </tr>
        <tr class="text-center">
          <th scope="row" class="bg-primary text-white text-end pe-5">
            Descripción
          </th>
          <td class="text-start ps-5">{{ oTipoAsiento!.descripcion }}</td>
        </tr>
        <tr class="text-center">
          <th scope="row" class="bg-primary text-white text-end pe-5">
            Balances
          </th>
          <td class="text-start ps-5">{{ oTipoAsiento!.grupotipoasientos }}</td>
        </tr>
        <tr class="text-center">
          <th scope="row" class="bg-primary text-white text-end pe-5">
            Asientos
          </th>
          <td class="text-start ps-5">{{ oTipoAsiento!.asientos}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="d-flex justify-content-center mt-4">
    <p class="fs-3">¿Seguro que desea borrar el Tipo de Asiento?</p>
  </div>

  <div class="d-flex justify-content-center mt-4">
    <button
      class="btn btn-warning mt-4 mx-1"
      [routerLink]="['/admin', 'tipoAsiento', 'plist']"
    >
      <i class="bi bi-list"></i>
      Ir a listado de Tipos de Asientos
    </button>
    <button class="btn btn-danger mt-4 mx-1" (click)="delete()">
      <i class="bi bi-trash"></i>
      Borrar Tipo de Asiento
    </button>
  </div>
</div>

<div
  class="modal fade"
  [id]="'mimodal'"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Contante</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="hideModal()"
        ></button>
      </div>
      <div class="modal-body">
        <p>{{ strMessage }}</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="hideModal()"
        >
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
